*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    list-style-type:none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
footer{
    width: 100%;
    height: 2rem;
    background: lightgrey;
    color: rgb(255, 255, 255);
    text-align: center;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    padding-top: 8px;
}

/*--common components---*/
.btn{
    display: inline-block;
    border:1px solid #ccc;
    border-radius:5px;
    background:grey;
    padding:0.25rem 0.75rem;
    font-size:1.1rem;
    box-sizing: 0 0 10px #ccc;
}
.btn.btn-primary{
    background-color: pink;
    border-radius: 10px;
    border: 1px solid pink;
    box-shadow: 5px 5px 6px #f4ddfc;
    color: white;
    font-size: 18px;
}
.btn.btn-primary:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
    background-color:rgb(253, 228, 232);
    
}
.btn.btn-info{
    background-color:aqua;
}
.btn.btn-danger{
    background-color:rgb(214, 100, 100);
}
.btn.btn-warning{
    background-color:rgb(221, 190, 11);
}

.but{
    font-size: 20px;
    border: 1px solid palevioletred;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
}