body{
    min-width:920px;
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    width: 100%;
    height: 32px;
    background-color:lightgray;
    justify-content: flex-end;
    padding-right: 18px;
}
nav>div{
    margin-right: 21px;
    height: 29px;
}
nav>div>a{   /*標題的a標籤*/
    text-decoration: none;
    font-size: 19px;
    color: rgb(255, 255, 255);
    font-weight: 900;
}
nav>div>a:hover{
    font-size: 20px;
    color: coral;
}
.slider{
    width: 100%;
    height: 200px;
    background-color: aquamarine;
}
#container{

    min-height:calc(100vh - 232px - 32px );
    position: relative;
    top: 232px;
    background-image: url(../img/beach.png);
    background-repeat: no-repeat;
    background-size:cover ;
}
.type{  /*分類*/
    margin: 0 auto;
    width: 60%;
}
.list{ /*投票列表*/
    margin: 1rem auto;
    width: 60%;
}
.list-header{ /*投票列表標題*/
    display:flex;
    justify-content: space-evenly;
    text-align: center;

}
.list a{
    text-decoration: none;

}
.list>a>li:hover{
    transform: scale(1.1,1.1);/*選到的項目會放大1.1倍*/
}
.list-header div{
    width:calc(100% / 5);
    padding:0.5rem 1rem;
    background:rgb(240, 128, 212);
    color:rgb(255, 255, 255);
}
.list-header div a{
    color:rgb(255, 255, 255)
}

.list-items div{
    width:calc(100% / 5);
    padding:0.5rem 1rem;
}

.list-items{
    display:flex;
    justify-content: space-evenly;
    padding:0.5rem;
    margin:0.25rem 0;
    border-bottom:1px solid #eee;
    font-weight: bold;
    font-size:1.15rem;
}
.list-items:hover{
    background-color: rgb(248, 236, 246);
    cursor: pointer;
    
}

.result-table{
    border-collapse: collapse;
    box-shadow: 0 0 6px #bbb;
}
.result-table td{
    padding: 0.25rem;
    border:1px solid #ccc;
}
/* #types{
    padding:0.25rem 0.5rem;
    font-size:1.25rem;
    border:0;
    border-bottom:2px solid orange;
} */
.text-center{
    display: flex;
    justify-content: center;
    
}
.text-center > div >a{
    text-decoration: none;
}
.text-center > div> a:hover{
    font-size:larger;
    color: red;
}

.pretty-select {
    /*移除箭頭樣式*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
  
    /*改變右邊箭頭樣式*/
    background: url("../img/arrow1.png") no-repeat right center transparent;
    background-size: 32px 32px;
    border:0px;
    font-size: 18px;
    height:34px;
    padding-left:2px;
    padding-right:40px;
    background-color:#ffffff;
    color:rgb(241, 131, 227);
    border-bottom:2px solid rgb(241, 131, 227);
  }
  
  /*IE隱藏箭頭樣式*/
  .pretty-select::-ms-expand { 
    display: none; 
  }
  
  .pretty-select:focus{
    box-shadow: 0 0 5px 2px #467BF4;    
  }