*{
    box-sizing: border-box;
}
body{
    min-width:1335px;
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    width: 100%;
    height: 65px;
    background-color:rgb(0, 0, 0);
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 10px;
    z-index: 99999;
}
.nav{
    display: flex;
    padding-top: 20px;
}

.nav>div{
    margin-right: 21px;
    height: 29px;
}
.nav>div>a{   /*標題的a標籤*/
    text-decoration: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: 900;
}
.nav>div>a:hover{
    font-size: 20px;
    color: rgb(202, 9, 176);
}

#container{
    position: relative;
    top: 65px;
}
.type{  /*分類*/
    margin-left: 20%;
    padding-top: 10px;
}
.list{ /*投票列表*/
    margin: 1rem auto;
    width: 60%;
    min-width: 800px;
}
.list-header{ /*投票列表標題*/
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 2px 2px 6px rgb(250, 67, 219);
    font-size: 1.2rem;
    font-weight: bolder;
}
.list a{
    text-decoration: none;

}
.list>a>li:hover{
    transform: scale(1.05,1.05);/*選到的項目會放大1.1倍*/
    box-shadow: 1px 1px 8px rgb(243, 208, 237);
    transition: 0.7s;
}
.list-header div{
    width:calc(100% / 5);
    padding:0.5rem 1rem;
    background:rgb(240, 128, 212);
    color:rgb(255, 255, 255);
}
.list-header div a{
    color:rgb(255, 255, 255)
}

.list-items div{
    width:calc(100% / 5);
    padding:0.5rem 1rem;
}

.list-items{
    display:flex;
    justify-content: space-evenly;
    padding:0.5rem;
    margin:0.25rem 0;
    border-bottom:1px solid #eee;
    font-weight: bold;
    font-size:1.15rem;
}
.list-items:hover{
    background-color:rgba(241, 227, 239, 0.4);
    cursor: pointer;
    
}

.result-table-header{
    border-collapse: collapse;
    margin: 15px auto 0 auto;
    display: flex;
    font-size: 18px;
    background:rgb(240, 128, 212);
    color:rgb(255, 255, 255);
    box-shadow: 2px 2px 6px rgb(238, 182, 229);
}
.result-table-header>div{
padding: 0.5rem 0;
}
.result-table{
    border-collapse: collapse;
    border-bottom: 1px solid #eee;
    display: flex;
    font-weight: bold;
    font-size:1.1rem;
}
.result-table>div{
    padding: 0.8rem 0;
}
.result-table:hover{
    background-color:rgba(241, 227, 239, 0.4);
    cursor: pointer;
    transform: scale(1.1,1.1);
    box-shadow: 1px 1px 8px rgb(243, 208, 237);
}
/* #types{
    padding:0.25rem 0.5rem;
    font-size:1.25rem;
    border:0;
    border-bottom:2px solid orange;
} */
.text-center{
    display: flex;
    justify-content: center;
    
}
.text-center > div >a{
    text-decoration: none;
}
.text-center > div> a:hover{
    font-size:larger;
    color: red;
}

.pretty-select {
    /*移除箭頭樣式*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
  
    /*改變右邊箭頭樣式*/
    background: url("../img/arrow1.png") no-repeat right center transparent;
    background-size: 32px 32px;
    border:0px;
    font-size: 18px;
    height:34px;
    padding-left:2px;
    padding-right:40px;
    background-color:#ffffff;
    color:rgb(229, 157, 220);
    border-bottom:2px solid rgb(241, 131, 227);
  }
  
  /*IE隱藏箭頭樣式*/
  .pretty-select::-ms-expand { 
    display: none; 
  }
  
  .pretty-select:focus{
    box-shadow: 0 0 5px 2px #467BF4;    
  }
  .p{
    width: 130px;
    border-radius: 15px;
    border: 1px solid palevioletred;
    margin: 1rem auto 0 auto;
    text-align: center;
    font-size: 18px;
  }
  .fa-arrow-right-arrow-left{
    transform: rotate(90deg);
  }
  #animate{
    animation: fadeInLeft;
    animation-duration: 1s;
  }
  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #f095d5;
    transition: width .6s ease-in;
}
    .progress {
        display: flex;
        height: 1.5rem;
        overflow: hidden;
        font-size: .75rem;
        background-color: #dadfe5;
        border-radius: 25.25rem;
    }
    .dropdown-menu{
        display:none;
        position: absolute;
        background-color: #ffffff;
        border: 1px solid lightgray;
        border-radius: 20px;
        right: 10px;
        min-width: 8rem;
        
        
        
    }
    .dropdown-menu>li{
        margin-top: 7px;
        text-align: center;
    }
    .dropdown-menu>li>a{
        text-decoration: none;
        color: #000000;
        
    }
    .dropdown-menu>li>a:hover{
        color:rgb(221, 2, 174)
    }
    .vlogdiv{
        width: 240px;
        height: 150px;
        margin-top: 20px;
        margin-right: 20px;
        border-radius: 15px;
        background-color:rgba(249 , 199, 238, 0.4);
        box-shadow: 5px 5px 6px #F4DDFC;
        transition: 0.5s;
    }
    .vlogdiv:hover{
        transform: scale(1.05,1.05);
        box-shadow: 0 0 10px #F4DDFC;
    }
    .vlog{
        display: flex;
        flex-wrap: wrap;
        width: 1100px;
        margin: 0 auto;
        padding-top: 30px;
        justify-content: center;
    }
    .vlogtable{
        font-size: 20px;
        margin: 0 auto;
        text-align: center;
        padding-top: 10px;
    }
.lione{
    width: 200px;
    text-align: center;
}
.litwo{
    width: 80px;
    text-align: center;
}
.lithree{
    width: 420px;
    text-align: center;
}
.vote-item{
    width: 500px;
    margin: 0 auto;
    
}
.vote-items{
    margin: 20px auto 0 auto;
    border: 1px solid rgb(255, 250, 251);
    height: 35px;
    width: 350px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    padding-top: 6px;
    background-color:rgba(250, 236, 248, 0.4);
    box-shadow: 1px 1px 8px rgb(243, 208, 237);
    font-weight: bolder;
}
.vote-items:hover{
transform: scale(1.1,1.1);
transition: 0.4s;
}
.votedone{
    text-align: center;
    margin-top: 20px;
}
.votedone input{
    width: 66px;
    height: 30px;
    background-color: pink;
    border-radius: 10px;
    border: 1px solid rgb(255, 222, 228);
    box-shadow: 5px 5px 6px #f4ddfc;
    color: white;
    font-size: 1.3rem;
    margin-left: 20px;
}
.votedone input:hover{
    cursor: pointer;
    transform: scale(1.09,1.09);
    transition: 0.3s;
}
.chk-acc{
    width: 500px;
    margin:30px auto 0 auto;
    text-align: center;
    font-weight: bolder;
}
.chk-acc p{
    font-size: 1.3rem;
    
}
.chk-acc span{
    color: purple;
    font-size: 1.6rem;
}
.chk-acc input{
    width: 200px;
    text-align: center;
    padding: 0.3rem 0;
    color: #B95BC9;
    height: 38px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 8px rgb(243, 208, 237);
    color: #B95BC9;
    text-align: center;
}
.chk-acc button{
    width: 68px;
    height:28px;
    background-color:pink;
    border-radius: 10px;
    border: 1px solid pink;
    box-shadow: 5px 5px 6px #F4DDFC;
    color: white;
    font-size: 16px;
    font-weight:bolder;
    position: relative;
    top: 10%;
}